@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Wellfleet&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 18, 19);
    color: rgb(248,248,248);
}

header h1 {
  font-family: "Wellfleet", monospace;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.keys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.row {
    /* Flexbox Rules 🤘 */
    display: flex;
    justify-content: center;
    gap: 6px;
}

.key {
    background-color: rgb(129,131,132);
    min-width: 43px;
    height: 58px;
    border-radius: 5px;
    text-align: center;
    line-height: 58px;
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0 10px;
}

.board {
    display: grid;
    width: 300px;
    height: 360px;
    grid-template-columns: repeat(5,1fr);
    margin: auto auto 25px auto;
}

.board div {
    border: rgb(58,58,60) solid 2px; 
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    font-weight: bold;
    font-size: 1.25em;
}

.match2 {
    background-color: green;
}
.match1 {
    background-color: orange;
}